@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

:root{
  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);
  --Verydarkblue: hsl(220, 13%, 13%);
  --Darkgrayishblue: hsl(219, 9%, 45%);
  --Grayishblue: hsl(220, 14%, 75%);
  --Lightgrayishblue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
}
body {
  font-family: Kumbh Sans;
}
.body::after {
  content: "";
  
  background-color: grey;
  z-index: 20;
  position: fixed;
  
  inset: 0;
  pointer-events: none;
  opacity: 0;
  
  
}
.body.grey {
  pointer-events: none;
}
.body.grey::after {
  opacity: 0.5;
  

}
button {
  border: none;
}

.active {
  display: flex;
}
.hidden {
  display: none;
}
header {
  position: relative;
  
  
  display: flex;
  padding: 1.5rem 1rem;
  align-items: center;
  
  .cart {
    margin-left: auto;
  }
  .icon {
    max-width: 3rem;
  }
  .icon:hover {
    border: orange solid 3px;
    border-radius: 2rem;


  }
  gap: 0.6rem
  
  
}
header::after {
  bottom: 0;
  content: "";
  width: 90%;
  position: absolute;
  height: 1px;
  background-color: rgb(217, 207, 207);
}
.information {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;
}
.prices, .quantity, .add-container {
  display: flex;
  
  
}
.prices {
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
.percentage {
  padding: 0.2rem 0.4rem;
  border-radius: 0.5rem;
  background-color: black;
  color: white;
  margin-right: auto;
  font-size: 0.8rem;
 
}
s {
  color: grey;
  font-weight: 800;
}
.add-container {
  flex-direction: column;
  gap: 0.5rem;
}
.quantity, .buy-button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: bold;

}
.quantity {
  justify-content: space-between;
  img {
    max-height: 100%;
    object-fit: contain;
    cursor: pointer;
    
  }
  background-color: grey;
 
}

.buy-button {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  background-color: var(--Orange);
  cursor: pointer;
  
}
h1 {
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
  color: gray;
}
h2 {
  margin-bottom: 1rem;
}
h3 {
  font-size: 2rem;
}
.lightbox {
  z-index: 100;
  position: absolute;
  top:50%;
 

  
    position: absolute;
    
    margin: auto;
    
  
  

  transform: scale(0.9);
  .cross {
    cursor: pointer;
    padding: 1rem;
    position: absolute;
    align-self: flex-start;
    right: 0;
    transform: translateY(-150%);
    img {
      min-width: 3rem;
    }
  }
}
nav {
  position: fixed;
  height: 100%;
  z-index: 20;
  left: 0;
  top: 0;
  
  background-color: white;
  ul {
    gap: 1rem;
    padding: 4rem 2rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    transform: translateY(20%);
    .go-back {
      position: fixed;
      top: 0;
    }
   
  }
  
}



@media screen and (min-width: 1000px) {
  .body {
    padding: 0rem 5rem;
  }
  main {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    align-items: center;
    gap: 5rem;
  }
  
  .add-container {
    flex-direction: row;
    
  }
  .quantity {
    flex-grow: 0.4;
    img {
      max-width: 20%;
    }
  }
  .buy-button {
    flex-grow:1 ;
  }
  .prices {
    flex-wrap: wrap;
  }
  .percentage {
    margin-right: 300px;
  }
 
  .lightbox {
    padding-bottom: 4rem ;
    top: -30%;
    transform: scale(0.5);
    left: 10%;
    .cross {
      padding: 2rem;
      position: absolute;
      align-self: flex-start;
      right: 0;
      transform: translateY(-150%);
      img {
        min-width: 5rem;
      }
    }
   
    
  }
  .desktop-menu {
    display: flex;
    margin-right: 1rem;
    gap: 0.8rem;
    color: grey;
  font-weight: bold;
      list-style-type: none;
      padding: 0;
    
  }
  .logo {
    order: -1;
    margin-right: 0
    
  }
}


  

